@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");
.background {
  height: 100vh;
  width: 100vw;
}
.img {
  height: 100vh;
  width: 100dvw;
  object-fit: fill;
  position: relative;
}
.titan,
.assault {
  position: absolute;
  color: #5d92cb;
  /* color: transparent;
  white-space: nowrap; */
  z-index: 1;
  font-size: 3.7rem;
  font-family: "Orbitron", sans-serif;
  font-weight: 800;
}
.titan {
  top: 10%;
  left: 45%;
  transform: translateX(-50%);
  animation: slideLeft 3s forwards;
}
@keyframes slideLeft {
  from {
    transform: translateX(-200%);
  }
  to {
    transform: translateX(-50%);
  }
}
.assault {
  top: 17%;
  left: 53%;
  transform: translateX(-50%);
  animation: slideRight 3s backwards;
}
@keyframes slideRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-50%);
  }
}

.sign_up {
  color: #484747;
  font-family: "Orbitron", sans-serif;
  font-weight: 600;
  z-index: 1;
  font-size: 2rem;
}
.border_div {
  position: absolute;
  top: 58%;
  left: 48%;
  transform: translate(-50%, -50%);
  border: 0.1rem solid #484747;
  border-radius: 1rem;
  height: 20rem;
  width: 29rem;
  display: flex;
  align-items: center;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  gap: 1.3rem;
  flex-direction: column;
  backdrop-filter: blur(15px);
  background: rgba(255, 255, 255, 0.384);
  padding-bottom: 1rem;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  font-family: "Orbitron", sans-serif;

  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  width: 18rem;
  height: 5rem;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 0.2rem;
  padding-left: 0.5rem;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
  outline: none;
  border-color: #087af5;
}
button[type="submit"] {
  font-family: "Orbitron", sans-serif;

  border: 0.01rem solid rgb(0, 0, 0);
  width: 4.2rem;
  background-color: rgb(223, 226, 205);
  border-radius: 0.2rem;
}
button[type="submit"]:hover {
  border-color: rgb(233, 196, 196);
  width: 4.5rem;
}
input[type="text"]:hover,
input[type="email"]:hover,
input[type="password"]:hover {
  width: 19rem;
}
.for_submit {
  display: flex;
  flex-direction: row;
  gap: 0.74rem;
}
.login {
  font-family: "Orbitron", sans-serif;
  border: 0.01rem solid rgb(0, 0, 0);
  background-color: rgb(223, 226, 205);
  border-radius: 0.2rem;
  width: 10.28rem;
  height: 1.8rem;
}
.login:hover {
  border-color: rgb(233, 196, 196);
  width: 11rem;
}
